Repository sepandhaghighi/nafas, pull requests merged in 2024-10, with the labels that each got.

#104 Balancing
  CHANGELOG.md
  README.md
  nafas/params.py
  test/test.py
Labels: new feature

#105 Minor edits
  AUTHORS.md
  CHANGELOG.md
  README.md
  nafas/functions.py
  nafas/params.py
Labels: documentation, minor

#106 Add/limit gh action run
  .github/workflows/test.yml
  CHANGELOG.md
Labels: test

#108 Python 3.13
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
  CHANGELOG.md
  setup.py
Labels: test
