Repository sepandhaghighi/nafas, pull requests merged in 2025-04, with the labels that each got.

#137 Nafas Version Added to the Survey Link
  nafas/functions.py
  nafas/params.py
  test/test.py
Labels: enhancement

#138 Version 1.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  NAFAS.spec
  README.md
  SECURITY.md
  nafas/params.py
  otherfiles/RELEASE.md
  otherfiles/Version.rc
  otherfiles/version_check.py
  setup.py
  test/test.py
Labels: release

#133 Type Hints Added
  CHANGELOG.md
  nafas/__main__.py
  nafas/functions.py
  otherfiles/version_check.py
  setup.py
Labels: documentation, enhancement

#140 `Ubuntu-20.04` --> `Ubuntu-22.04`
  .github/workflows/publish.yml
  .github/workflows/test.yml
  CHANGELOG.md
  setup.py
Labels: documentation, test
